@font-face {
    font-family: 'Chilanka';
    src: url('../fonts/Chilanka-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chilanka';
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex2 {
    align-items: flex-end;
    justify-content: space-around;
}
body{
    background: #2c5364;
}
.container {
    width: 100%;
    height: 60vh;
    /* background: brown; */
    position: relative;
    background: #317773;
    background: linear-gradient(to right, #334d50, #cbcaa5);
}
.container form {
    background: rgba(255,255,255,0.5);
    border-radius: .4rem;
    margin-bottom: 10px;
    flex-direction: column;
}
input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
form img {
    width: 250px;
}
label {
    margin: 10px 0;
    border: 1px solid #121212;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 2s ease;
}
label:hover {
    background: #121212;
    color: #fff;
}
input[type="submit"],
.container a {
    margin: 5px;
    width: 70%;
    padding: 5px 0;
    background: #121212;
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 5px;
    transition: all 2s ease;
    cursor: pointer;
}
input[type="submit"]:hover,
.container a:hover {
    background: #fff;
    color: #121212;
    outline: 1px solid #121212;
}
.container a {
    position: absolute;
    bottom: -20%;
    text-decoration: none;
    width: 30%;
}
footer {
    width: 100%;
    height: 7vh;
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    bottom: 0;
}
footer span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span a {
    margin: .5rem;
    text-decoration: none;
    transition: all 1s ease;
    color: #f2c633;
}
footer span a:hover {
    color: #f2c633;
}
small {
    font-size: unset;
    margin-left: 5px;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0 10px !important;
    }
    .container form {
        width: 50%;
        margin: 10px 2px;
        font-size: 0.7rem;
    }
    input[type="submit"],
    .container a {
        font-size: 0.7rem;
    }
    .container a {
        width: 50%;
    }
    form img {
        width: 100%;
    }
}
